@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply text-base text-theme-black bg-theme-background capitalize font-poppins font-normal w-full h-full;
  }
}

$theme-black: #1c1d1c;
$theme-white: #fffffe;
$theme-orange: #f25042;
$theme-background: #fafaf9;
$theme-dark-brown: #716040;
$theme-light-brown: #85662e;

.active {
  color: $theme-white;
}
